<div class="container">
  <h1>Play Rock, Paper, Scissors game</h1>
  <h4>This game plays against computer</h4>
  
  <h3>Please enter your name to continue playing</h3>
  <form action="" method="post">
    <label for>
     <input type="text" placeholder/>
    </label>
  </form>

</div>

